* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

html,
body {
  height: 100vh;
}

.singles,
.albums,
.acting {
  margin-bottom: 1em;
}

.singles h1,
.albums h1,
.synopsis h1,
.acting h1{
  color: orange;
}

.cover {
  background: url("http://ksassets.timeincuk.net/wp/uploads/sites/55/2013/02/2013DBGalleryBrianDuffy.jpg");
  background-size: cover;
}

.header {
  text-align: center;
  font-size: 60px;
  background: linear-gradient(135deg, orange, orange 60%, cyan);
  padding: 0.7em;
}

.header-title {
  color: #fff;
}

.singles,
.albums,
.acting {
  display: block;
}
.d3-singles-chart,
.d3-albums-chart,
.d3-acting-chart {
	margin-top: -4em;
}

.legend {
  display: inline-block;
	line-height: 0;
}

img {
	width: 300px;
	height: 350px;
}
